@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
:root {
    --secondary-color: #ff4e00;
    --dark-color: #2f2838;
}

.gs-error {
    text-align: center;
    min-height: 100vh;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 5vmin);
    color: #fff;
    padding: 20vw 20vh 20vw 20vh;
}

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/WBC_7095.jpg?format=2500w");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    fill-opacity: 30%;
    margin: 0px auto;
    justify-content: center;
    color: #ffffff;
    font-family: 'Viga', sans-serif;
}

.container {
    min-width: 85vw;
}

.container .c-h {
    background-color: #fff;
    z-index: 2;
}


/* span{
  font-size: small;
} */

.btn-login {
    font-size: auto;
    color: var(--dark-color);
    background-color: transparent;
    border: none;
}

.btn-nav {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding-left: 3vw;
    border: none;
    margin: 20px auto;
}

.i-nav {
    margin-left: 3vw;
}

.line {
    display: inline-block;
    min-height: 0px;
    min-width: 60px;
    border: 1px solid white;
    margin-bottom: 0.4rem;
    background-color: white;
}

.space {
    display: inline-block;
    min-height: 0px;
    min-width: 65px;
}

.space-s {
    display: inline-block;
    min-height: 0px;
    min-width: 35px;
}


/* .box-h{
  background-image: url("/c1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

.row-700 {
    min-height: 700px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-color);
    font-weight: bold;
    margin: auto 1vw;
}

.navbar-light {
    background-color: #ffffff;
    z-index: 1;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.user-info {
    font-size: 1rem;
    color: var(--dark-color);
}

.g {
    color: var(--secondary-color);
    font-size: calc(16px + 5vmin);
}

.s {
    color: var(--dark-color);
    font-size: calc(16px + 5vmin);
}

.media-menu {
    background-color: #ffffff;
    color: var(--dark-color);
    border: 2px solid transparent;
    border-radius: 5px;
}

.login-card {
    color: var(--dark-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.footer {
    background-color: #ffffff;
    color: var(--dark-color);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.gs-body {
    min-height: 600px;
}

.gs-color-dark {
    color: var(--dark-color);
}