@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root {
    --secondary-color: #ff4e00;
    --dark-color: #2f2838;
}

.Error {
    text-align: center;
    min-height: 100vh;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 5vmin);
    color: #fff;
    padding: 20vw 20vh 20vw 20vh;
}
.gs-error{
    text-align: center;
    min-height: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 5vmin);
    color: var(--dark-color);
}

body {
    /* background-image: url("/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    fill-opacity: 30%; */
    background-image: linear-gradient(to right, #120136,#035aa6,#120136 ) ;
    margin: 0px auto;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: #ffffff;
    font-family: 'Viga', sans-serif;
}

.container {
    min-width: 85vw;
}

.container .c-h {
    background-color: #fff;
    z-index: 2;
}

/* span {
    font-size: small;
} */

.btn-login {
    margin-left: 5vw;
    font-size: auto;
    color: var(--dark-color);
    background-color: transparent;
    border: none;
}

.btn-nav {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding-left: 3vw;
    border: none;
    margin: 20px auto;
}

.i-nav {
    margin-left: 3vw;
}

.line {
    display: inline-block;
    min-height: 0px;
    min-width: 60px;
    border: 1px solid white;
    margin-bottom: 0.4rem;
    background-color: white;
}

.space {
    display: inline-block;
    min-height: 0px;
    min-width: 65px;
}

.space-s {
    display: inline-block;
    min-height: 0px;
    min-width: 35px;
}

.box-h {
    background-image: url("/c1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.row-700 {
    min-height: 700px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-color);
    font-weight: bold;
    margin: auto 1vw;
}

.navbar-light {
    background-color: #ffffff;
    z-index: 1;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.logo {
    margin-left: 3vw;
}

.g {
    color: var(--secondary-color);
    font-size: calc(16px + 5vmin);
}

.s {
    color: var(--dark-color);
    font-size: calc(16px + 5vmin);
}

.media-menu {
    background-color: #ffffff;
    color: var(--dark-color);
    border: 2px solid transparent;
    border-radius: 5px;
}

.login-card {
    color: var(--dark-color);
    padding: 10px 20px;
}

.footer {
    background-color: #ffffff;
    color: var(--dark-color);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.btn-profile {
    background-color: #fff;
    color: var(--dark-color);
    border: 1px solid white;
    border-radius: 30px;
}

.btn-profile {
    background-color: #fff;
    color: var(--dark-color);
    border: 1px solid white;
    border-radius: 30px;
}

.menuImage {
    height: 128px;
    width: 128px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.cartinner {
    color: var(--dark-color);
}

.gs-reverse{
    flex-direction: column-reverse;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}
.bg-c{
    background-image: url('/sb-1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 120vh;
}
.custom-tag {
    min-width: 100%;
    height: 500px;
  }